lib/parser/soap/CurrentScores.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:CurrentScores">  
  <element name="CurrentScores">
    <complexType>
      <sequence>
        <element name="score">
          <complexType>
            <attribute name="id" type="string" />
          </complexType>
        </element>
      </sequence>
    </complexType>
  </element>
</schema>